.product-page {
	background-color: black;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.button-container {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 25px;
		user-select: none;
	}
}